@import '../../sass/variables.scss';

.nav {
  min-width: 25%;
  background-color: $main-bg-color;
  border-right: 0.5px solid $black;
  padding: 3rem;
  padding-right: 0;
  height: 100vh;

  .vault-items {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }

  header {
    display: flex;
    align-items: stretch;
    padding-right: 3rem;
  }

  .order-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 3rem;
    margin: 1rem 0;

    .btn {
      padding: 0.25rem 0.5rem;
    }
  }
}
