@import 'variables.scss';

.btn {
  color: $font-color;
  font-family: $Roboto;
  font-size: 1.25rem;

  margin: 0 0.5rem;

  border: none;
  border-radius: 0.3rem;
  background-color: hsla(0, 0%, 100%, 0.2);

  transition: all 0.2s;

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
  }

  &:active {
    background-color: hsla(0, 0%, 100%, 0.3);
  }

  i {
    color: inherit;
  }

  &--delete,
  &--edit,
  &--submit {
    padding: 1rem 1.5rem;

    justify-content: center;
    align-items: center;

    i {
      margin-right: 1rem;
    }

    &:hover {
      transform: translateY(-0.25rem);
      box-shadow: 0 0.5rem 1rem $black;
      color: #fff;
    }

    &:active {
      background-color: hsla(0, 0%, 100%, 0.5);
      transform: translateY(-0.1rem);
      box-shadow: 0 0.25rem 1rem $black;
    }
  }

  &--submit,
  &--submit:hover {
    background-color: $success-green;
  }

  &--delete {
    &:hover {
      background-color: $error-red;
    }
  }

  &--password {
    background-color: var(--input-bg-color);
    padding: 0.5rem 1rem;

    &:hover i {
      color: hsl(0, 0%, 60%);
    }
  }
}
