*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;

  --Roboto: 'Roboto', sans-serif;
  --Noto: 'Noto Sans JP', sans-serif;

  --black: hsla(0, 0%, 0%, 0.3);
  --font-color: hsl(0, 0%, 30%);

  --error-red: hsl(348, 100%, 50%);
  --success-green: hsl(140, 50%, 55%);
}

body {
  height: 100vh;
  color: var(--font-color);
  background-color: hsl(0, 0%, 90%);
  padding: 10rem;
  font-family: var(--Noto);
}

header {
  font-family: var(--Roboto);
  display: flex;
  align-items: center;
}

.account-logo {
  font-size: 5rem;
  background-color: hsl(0, 0%, 75%);
  width: 7rem;
  text-align: center;
  border-radius: 0.5rem;
}

.account-name {
  font-size: 3rem;
  margin-left: 2rem;
}

.form {
  display: flex;
  flex-direction: column;

  & > * {
    margin-top: 2rem;
  }

  &__field {
    input {
      font-family: var(--Noto);
      color: var(--font-color);
      width: 40%;
      padding: 0.75rem 1rem;
      border: none;
      border-radius: 0.3rem;
      margin-right: 1rem;
      outline: none;

      border-bottom: 0.3rem solid transparent;

      &:focus {
        box-shadow: 0 1rem 2rem var(--black);

        &:invalid {
          border-bottom: 0.3rem solid var(--error-red);
        }
        &:valid {
          border-bottom: 0.3rem solid var(--success-green);
        }
      }
    }
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
}

.btn {
  color: var(--font-color);
  font-family: var(--Roboto);

  padding: .5rem 1rem;
  margin: 0 0.5rem;

  border-radius: 0.3rem;
  border: 0.1rem solid hsl(0, 0%, 60%);
  background-color: hsla(0, 0%, 90%, 1);
}
