*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;

  --Roboto: 'Roboto', sans-serif;
  --Noto: 'Noto Sans JP', sans-serif;

  --black: hsla(0, 0%, 0%, 0.3);
  --font-color: hsl(0, 0%, 30%);

  --error-red: hsl(348, 100%, 50%);
  --success-green: hsl(140, 50%, 55%);

  --body-bg-color: hsl(0, 0%, 75%);
}

body {
  height: 100vh;
  color: var(--font-color);
  font-family: var(--Noto);
}

.App {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

header {
  font-family: var(--Roboto);
  display: flex;
  align-items: center;
}

.account-logo {
  font-size: 5rem;
  background-color: var(--body-bg-color);
  width: 7rem;
  text-align: center;
  border-radius: 0.5rem;
}

.account-name {
  font-size: 3rem;
  margin-left: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: -2rem;

  & > * {
    margin-top: 2rem;
  }

  &__field {
    input {
      font-family: var(--Noto);
      color: var(--font-color);

      width: 40%;
      padding: 0.75rem 1rem;
      margin-right: 1rem;
      background-color: hsl(0, 0%, 90%);

      outline: none;
      border: none;
      border-radius: 0.3rem;
      border-bottom: 0.3rem solid transparent;

      transition: all 0.2s;

      &:focus {
        box-shadow: 0 1rem 2rem var(--black);

        &:invalid {
          border-bottom: 0.3rem solid var(--error-red);
        }
        &:valid {
          border-bottom: 0.3rem solid var(--success-green);
        }
      }
    }
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
}

.btn {
  color: var(--font-color);
  font-family: var(--Roboto);

  padding: 0.5rem 1rem;
  margin: 0 0.5rem;

  border: none;
  border-radius: 0.3rem;
  background-color: hsl(0, 0%, 85%);

  transition: all 0.2s;

  &:hover {
    background-color: hsl(0, 0%, 90%);
    transform: translateY(-0.25rem);
    box-shadow: 0 0.5rem 1rem var(--black);
  }

  &:active {
    background-color: hsl(0, 0%, 87%);
    transform: translateY(-0.1rem);
    box-shadow: 0 0.25rem 1rem var(--black);
  }

  &--delete {
    padding: 1rem 1.5rem;
    align-self: flex-start;
    i {
      margin-right: 1rem;
    }

    &:hover {
      color: #fff;
      background-color: var(--error-red);
    }
  }
}
