$Roboto: 'Roboto', sans-serif;
$Noto: 'Noto Sans JP', sans-serif;

$black: hsla(0, 0%, 0%, 0.3);
$white: hsl(0, 0%, 100%);
$font-color: hsl(0, 0%, 100%);

$error-red: hsl(348, 100%, 50%);
$success-green: hsl(140, 50%, 55%);

$main-bg-color: hsl(0, 0%, 12%);

$primary-blue: hsl(211, 100%, 50%);
