@import '../../sass/variables.scss';

.address-details {
  --logo-bg-color: hsl(0, 0%, 70%);

  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  background-color: $main-bg-color;
  border-left: 0.5px solid $black;

  hr {
    margin: 2rem 0;
    opacity: 0.1;
  }
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

header {
  font-family: $Roboto;
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: -2rem;

  &__field {
    padding: 1.5rem;
    display: inline-block;
    border-radius: 0.5rem;
    transition: all 0.2s;

    &:not(:last-child):hover {
      background-color: rgba($color: $white, $alpha: 0.1);
    }

    &--disabled {
      &:not(:last-child):hover {
        background-color: transparent;
      }
    }

    label {
      font-size: 1.25rem;
      opacity: 0.5;
    }

    input {
      font-family: inherit;
      color: inherit;

      width: 100%;
      padding: 0.75rem 1rem;
      margin-right: 1rem;
      background-color: transparent;

      outline: none;
      border: none;
      border-radius: 0.3rem;
      border-bottom: 0.3rem solid transparent;

      transition: all 0.2s;

      &:focus {
        &:invalid {
          border-bottom: 0.3rem solid $error-red;
        }
        &:valid {
          border-bottom: 0.3rem solid $success-green;
        }
      }

      // This was written because when the parent is hovered, the input changed colors too.
      &:hover {
        background-color: transparent;
      }
    }

    .account-logo {
      font-size: 3rem;
      background-color: var(--logo-bg-color);
      width: 7rem;
      height: 6rem;
      text-align: center;
      border-radius: 0.5rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        z-index: 1;
        border-radius: 0.5rem;
        margin: auto;
      }
    }

    .account-name {
      font-size: 3rem;
      margin-left: 2rem;
      width: 80%;
    }

    &--header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }

    &--pass {
      display: flex;
      align-items: center;

      .password-field-wrapper {
        flex: 0 0 80%;
      }
    }
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
}
