.search-bar {
  --grayish-color: hsl(0, 0%, 47%);

  display: flex;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;

  i {
    z-index: 2;
    margin-right: -2rem;
    color: var(--grayish-color);
  }

  input {
    color: white;
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding: 0.75rem 2rem;
    padding-left: 3rem;
    background-color: hsl(0, 0%, 25%);
    width: 100%;
    outline: none;
    border-radius: 0.5rem;

    &::placeholder {
      color: var(--grayish-color);
    }
  }
}
