@import '../../sass/variables.scss';

.create {
  border: none;
  border-radius: 0.3rem;
  background-color: $primary-blue;

  padding: 0.5rem 1.5rem;
  color: $white;
  font-family: $Roboto;
  font-weight: 700;
}
