@import '../../sass/variables.scss';

.create {
  border: none;
  border-radius: 0.3rem;
  background-color: $primary-blue;

  padding: 0.5rem 1.5rem;
  color: $white;
  font-family: $Roboto;
  font-weight: 700;

  transition: all .2s;

  &:hover {
    background-color: lighten($color: $primary-blue, $amount: 7);
  }

  &:active {

    background-color: lighten($color: $primary-blue, $amount: 3);
  }
}
