@import 'sass/variables.scss';
@import 'sass/mixins.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;

  @include phone-styles {
    font-size: 55%;
  }
}

body {
  color: $font-color;
  font-family: $Noto;
}

.App {
  display: flex;
}
