@import "sass/variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;
}


body {
  height: 100vh;
  color: $font-color;
  font-family: $Noto;
}

.App {
  display: flex;
}

.nav {
  height: 100vh;
  min-width: 25%;
  background-color: $main-bg-color;
  border-right: 0.5px solid $black;
  padding: 3rem;

  header {
    display: flex;
    align-items: stretch;
  }
}
