*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;

  --Roboto: 'Roboto', sans-serif;
  --Noto: 'Noto Sans JP', sans-serif;

  --black: hsla(0, 0%, 0%, 0.3);
  --white: hsl(0, 0%, 100%);
  --font-color: hsl(0, 0%, 100%);

  --error-red: hsl(348, 100%, 50%);
  --success-green: hsl(140, 50%, 55%);

  --main-bg-color: hsl(0, 0%, 12%);
  --logo-bg-color: hsl(0, 0%, 70%);
}

body {
  height: 100vh;
  color: var(--font-color);
  font-family: var(--Noto);
}

.App {
  display: flex;
}

.nav {
  height: 100vh;
  min-width: 30%;
  background-color: var(--main-bg-color);
  border-right: 0.5px solid var(--black);
}
